

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Students Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>
</head>


 <style>
    
.errors {
    background: #e79892;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    border: 1px solid #e74c3c;
  }
  
  .errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .success {
    background: #80cca0;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    border: 1px solid black;
  }
</style>



<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">
                    <a href="#">
                        <img src="/img/logoX.png" alt="logo">
                    </a>
                </div>
                  <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
               <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    
                                </button>
                            </span>
                          
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <div class="admin-title">
                                <h5 class="item-title"></h5>
                                <span>Clerk</span>
                            </div>
                            <div class="admin-img">
                                <img src="/img/figure/admin.jpg" alt="Admin">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title"></h6>
                            </div>
                           
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
           <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="/clerk/dash"><img src="/img/logo1.png" alt="logo"></a>
                    </div>
               </div>
                <div class="sidebar-menu-content">
                      <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                                    <li class="nav-item">
                            <a href="/clerk/dashInc" class="nav-link"><i
                                class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        </li>


 <li class="nav-item">
                            <a href="/clerk/profile" class="nav-link"><i
                                class="flaticon-user"></i><span>Profile</span></a>
                        </li>
                      

                         <li class="nav-item">
                            <a href="/clerk/addFees" class="nav-link"><i class="flaticon-money"></i><span>Fees Payments</span></a>
                        </li>

                        <li class="nav-item">
                            <a href="/clerk/feesRecords" class="nav-link"><i class="flaticon-list"></i><span>Fees Records</span></a>
                        </li>
                        
                      <li class="nav-item">
                            <a href="/clerk/expenses" class="nav-link"><i class="flaticon-money"></i><span>Expenses</span></a>
                        </li>

   <li class="nav-item">
                            <a href="/clerk/expenseList" class="nav-link"><i class="flaticon-list"></i><span>Expense Records</span></a>
                        </li>


                         <li class="nav-item">
                            <a href="/clerk/feesUpdate" class="nav-link"><i class="flaticon-calendar"></i><span>New Term Update</span></a>
                        </li>
                     
                     

                         
                         <li class="nav-item">
                            <a href="/pass" class="nav-link"><i class="flaticon-settings"></i><span>Change Password</span></a>
                        </li>

                         <li class="nav-item sidebar-nav-item">
                          
                              <li class="nav-item">
                            <a href="/logout" class="nav-link"><i class="flaticon-dashboard"></i><span>Logout</span></a>
                        </li>
                        </li>
                      
                      
                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                
                    <ul>
                        
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Admit Form Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>School Fees Payments</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                               
                            </div>
                        </div>



                        	{{# if success }}
    <section class="success">
        <h2>Successful Validation!</h2>
    </section>
{{ else }}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>

        {{/if}}
        {{#if message}}
        <div  class="{{message.type}}">
            <strong>{{message.intro}}</strong>{{message.message}}
        </div>
        {{/if}}
               <form action="/clerk/addFees" method="POST" autocomplete="off" >
   
 <div class="row">
    

            
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Student ID  *</label>
                                    <input type="text"  class="form-control"
                                         name="uid" id="uid">
                                   
                                </div>

                                

                
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Student Name  *</label>
                                    <input type="text" class="form-control"
                                         name="fullname" id="fullname" >
                                  
                                </div>

                                 <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Student Class  *</label>
                                    <input type="text" class="form-control"
                                         name="class1" id="class1" >
                                  
                                </div>

               <div class="col-xl-3 col-lg-6 col-12 form-group">
 
         <label for="nameOfClass" class="text-dark">Current Balance</label>
        <input type="text" class="form-control" name="balance" id="balance"  value=""  >
    
    </div>

             
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
 
         <label for="nameOfClass" class="text-dark">Amount Paid ($)</label>
        <input type="text" class="form-control" name="amount" id="amount"  value=""  >
    
    </div>

               <div class="col-xl-3 col-lg-6 col-12 form-group">
 
         <label for="nameOfClass" class="text-dark">Receipt Number</label>
        <input type="text" class="form-control" name="receiptNumber" id="receiptNumber"  value=""  >
    
    </div>


                
                     <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Term *</label>
                                    <select class="select2" name="term" id="term" >
                                     
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                         <option value="3">3</option>
                                       
                                    </select>
                                </div>

    
            
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Date  *</label>
                                    <input type="text"  class="form-control"
                                        data-position='bottom right' name="date" id="date" value="{{day}}" readonly>
                          
                                </div>

</div>

 <input type="submit" value="Submit"  class="btn btn-dark"> <!--class="btn btn-primary btn-block"--> 

        </form>   
        {{/if}}
         </div>
                </div>
      
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>

      
    <!-- jquery-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="/js/select2.min.js"></script>
    <!-- Date Picker Js -->
    <script src="/js/datepicker.min.js"></script>
    <!-- Smoothscroll Js -->
    <script src="/js/jquery.smoothscroll.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="/js/main.js"></script>



    <script>
      $(function(){
    $('#uid').autocomplete({
    source: function(req,res){

      $.ajax({
        url:"/clerk/autocompleteX/",
        dataType:"jsonp",
        type:"GET",
        data:req,
        success: function(data){
          res(data)
        

        },
        error: function(err){
          console.log(err.status);
        }
      });
    },

    minLength:1,
    select: function(event,ui){

  $.ajax({
                dataType: 'json',
                data: {
                    code: ui.item.label,
                    
                },
                type: 'POST',
                url: "./autoX",
                success: function(data) {
               
                
                
                 $("#uid").val(data.uid)
                 $("#fullname").val(data.fullname)
                 $("#class1").val(data.class1)
                 $("#balance").val(data.balance)
                 
          
                }
               
            });
 



  
    }



    });

      });
      </script> 



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 










</body>

</html>