

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Students Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/lib/tpicker.js"></script>
</head>

 <style>
    
.errors {
    background: #e79892;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    border: 1px solid #e74c3c;
  }
  
  .errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .success {
    background: #80cca0;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    border: 1px solid black;
  }





.tpicker{
    width: 300px;
    height: auto;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 3px black;
    float: left;
    display: none;
    padding: 15px;
  }
  .pk1{
    float: left;
    width: 90%;
    margin: 0 5%;
  }
  .hr{
    text-align: center;
    width: 30%;
    float: left;
  }
  .hr i{
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 23px;
  }
  .hr i:hover{
    cursor: pointer;
    color:red;
  }
  .hr a:hover{
    cursor: pointer;
   
  }
  .hr a{
    padding: 2px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  .pk1 .dot{
    width: 30%;
    float: left;
  }
  .pk1 .dot2{
    margin-top: 28px;
    width: 10%;
    text-align: center;
    float:left;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  .pk1 .dot button{
    width: 100%;
    margin-top: 22px;
  }
  .pk2{
    display: none;
  }
  .pk2 table{
    margin: 0px;
    padding: 0;
  }
  .pk2 table td{
    text-align: center;;
    border-radius: 2px;
    border:solid 0.5px lightgrey;
  }
  .pk2 table td:hover{

    cursor: pointer
  }
  
  

</style>




<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">
                    <a href="#">
                        <img src="/img/logoX.png" alt="logo">
                    </a>
                </div>
                  <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
               <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    
                                </button>
                            </span>
                          
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                  
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one" style="float:left">
            <!-- Sidebar Area Start Here -->
           <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="#"><img src="/img/logo1.png" alt="logo"></a>
                    </div>
               </div>
                <div class="sidebar-menu-content" >
                      <ul class="nav nav-sidebar-menu sidebar-toggle-view" >
                    <li class="nav-item">
                            <a href="/records/dash" class="nav-link"><i
                                class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        </li>

                       <li class="nav-item">
                            <a href="/records/profile" class="nav-link"><i
                                class="flaticon-user"></i><span>Profile</span></a>
                        </li>

                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                            <ul class="nav sub-group-menu">
                               
                           
                                <li class="nav-item">
                                    <a href="/records/addStudent" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Add Student</a>
                                </li>

                                   <li class="nav-item">
                                    <a href="/records/addClass" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Add Class</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/records/studentList" class="nav-link"><i
                                            class="fas fa-angle-right"></i>View Students</a>
                                </li>

                                  <li class="nav-item">
                                    <a href="/records/import" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Import Students</a>
                                </li>

   <li class="nav-item">
                                    <a href="/records/studentSub" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Sync Subjects</a>
                                </li>

                                
                            </ul>
                        </li>


                         <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-multiple-users-silhouette"></i><span>Teachers</span></a>
                            <ul class="nav sub-group-menu">
                              
                                <li class="nav-item">
                                    <a href="/records/addTeacher" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Teacher</a>
                                </li>

                                         <li class="nav-item">
                                    <a href="/records/importTeacher" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Import Teacher</a>
                                </li>

                                          <li class="nav-item">
                                    <a href="/records/teacherList" class="nav-link"><i
                                            class="fas fa-angle-right"></i>View Teachers</a>
                                </li>
                               
                            </ul>
                        </li>



  <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i
                                    class="flaticon-menu-1"></i><span>Departments</span></a>
                            <ul class="nav sub-group-menu">
                              
                                <li class="nav-item">
                                    <a href="/records/dept" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                        Department</a>
                                </li>

                                         <li class="nav-item">
                                    <a href="/records/deptList" class="nav-link"><i
                                            class="fas fa-angle-right"></i>View Departments</a>
                                </li>

                                        
                               
                            </ul>
                        </li>





                          <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-open-book"></i><span>Subjects</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/records/subject" class="nav-link"><i class="fas fa-angle-right"></i>Add Subjects</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/records/subjectList" class="nav-link"><i
                                            class="fas fa-angle-right"></i>View Subjects</a>
                                </li>

                                 <li class="nav-item">
                                    <a href="/records/teacherSubject" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Allocate Subjects</a>
                                </li>
                               
                            </ul>
                        </li>
                    


                         <li class="nav-item">
                            <a href="/records/feesUpdate" class="nav-link"><i class="flaticon-calendar"></i><span>New Term Update</span></a>
                        </li>
                     
                      <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-technological"></i><span>Class Routine</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/records/lesson" class="nav-link"><i class="fas fa-angle-right"></i>Add Lesson</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/records/timetable" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Timetable</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/records/addRoom" class="nav-link"><i
                                            class="fas fa-angle-right"></i>Add ClassRoom</a>
                                </li>

                                 <li class="nav-item">
                                    <a href="/records/roomList" class="nav-link"><i
                                            class="fas fa-angle-right"></i>View Classrooms</a>
                                </li>
                               
                            </ul>
                        </li>
                    
 
                     
                     
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="/records/examSchedule" class="nav-link"><i class="fas fa-angle-right"></i>Add Exam</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/records/examList" class="nav-link"><i class="fas fa-angle-right"></i>Exam Timetable</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/records/examGrade" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                        Grades</a>
                                </li>

                                 <li class="nav-item">
                                    <a href="/records/gradeList" class="nav-link"><i class="fas fa-angle-right"></i>View Exam
                                        Grades</a>
                                </li>
                            </ul>
                        </li>
   
                                    
                         <li class="nav-item">
                            <a href="/pass" class="nav-link"><i class="flaticon-settings"></i><span>Change Password</span></a>
                        </li>

                         <li class="nav-item sidebar-nav-item">
                          
                              <li class="nav-item">
                            <a href="/logout" class="nav-link"><i class="flaticon-dashboard"></i><span>Logout</span></a>
                        </li>
                        </li>
                      
                      
                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                
                    <ul>
                        
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Admit Form Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Add Lesson</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                               
                            </div>
                        </div>



                        
                        	{{# if success }}
    <section class="success">
        <h2>Successful Validation!</h2>
    </section>
{{ else }}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>

        {{/if}}
        {{#if message}}
        <div  class="{{message.type}}">
            <strong>{{message.intro}}</strong>{{message.message}}
        </div>
        {{/if}}
                        <form  method="POST" action="/records/lesson" class="new-added-form"  autocomplete="off"  class="new-added-form">
                            <div class="row">

                         

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Teacher Name *</label>
                                    <input type="text" placeholder="" class="form-control" name="teacherName" id="teacherName" value="{{fullname}}" readonly>
                                </div>

                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Teacher ID  *</label>
                                    <input type="text" placeholder="" class="form-control" name="teacherId" id="teacherId" value="{{teacherId}}" readonly>
                                </div>

                                             <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Subject Code  *</label>
                                    <input type="text" placeholder="" class="form-control" name="subjectCode" id="subjectCode">
                                </div>


                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Subject   *</label>
                                    <input type="text" placeholder="" class="form-control" name="subjectName" id="subjectName" readonly>
                                </div>

                                  <div class="col-xl-3 col-lg-6 col-12 form-group">
                                   <label for="">Class</label>
          <select  id="class1" name="class1" value="" class="form-control" aria-placeholder="Select Department">
              {{#each arr}}
           <option value="{{this.class1}}">{{this.class1}}</option>
              {{/each}}
          </select>
                                </div>
                               
                               <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Day *</label>
                            <select class="select2" name="day" id="day">
                                     
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                       
                                    </select>
                                </div>
                                         

                       <div class="col-xl-4 col-lg-6 col-12 form-group">
                    
      <label for="">Room</label>
          <select  id="room" name="room" value="" class="form-control" aria-placeholder="Select Department">
              {{#each arr1}}
           <option value="{{this.name}}">{{this.name}}</option>
              {{/each}}
          </select>
      </div>
                        
        



  <div style="margin:30px;float:bottom;" >
<label for="">Time (start)</label>
      <input id="start" name="start"  style="width:100px;float:left;" class="form-control" placeholder="HH:MM" />
      <button type="button" class="btn btn-primary" onclick="showpickers('start',24)" style="width:40px;float:left;"><i class="fa fa-clock-o"></i>

    </div>

<div class="timepicker"></div>  <!--Important to add and keep it seprate to the end-->

  
                             <div style="margin:32px;float:bottom;" >
<label for="">Time (finish)</label>
      <input id="finish" name="finish" style="width:100px;float:left;" class="form-control" placeholder="HH:MM" />
      <button type="button" class="btn btn-primary" onclick="showpickers('finish',24)" style="width:40px;float:left;"><i class="fa fa-clock-o"></i>

    </div>

<div class="timepicker1"></div>  <!--Important to add and keep it seprate to the end-->






                        
               






                               
                                <div class="col-md-6 form-group"></div>
                                <div class="col-12 form-group mg-t-8 " style=" margin-top:50px" >
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                          
                                   <button  class="btn-fill-lg btn-gradient-darkblue btn-hover-bluedark"  style="background-color: #042954;"><a href="/records/lessonBatch" style="color: white;" >Change Teacher</a></button>
                                </div>
                            </div>
                        </form>
                        {{/if}}
                    </div>
                </div>
                <!-- Add Class Area End Here -->
 
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="/js/select2.min.js"></script>
    <!-- Date Picker Js -->
    <script src="/js/datepicker.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="/js/main.js"></script>




    <script>
      $(function(){
    $('#subjectCode').autocomplete({
    source: function(req,res){

      $.ajax({
        url:"/records/autocompleteLBX/",
        dataType:"jsonp",
        type:"GET",
        data:req,
        success: function(data){
          res(data)
        

        },
        error: function(err){
          console.log(err.status);
        }
      });
    },

    minLength:1,
    select: function(event,ui){

  $.ajax({
                dataType: 'json',
                data: {
                    code: ui.item.label,
                    
                },
                type: 'POST',
                url: "./autoLBX",
                success: function(data,nocs) {
               
                
                
                
                $("#subjectCode").val(data.subjectCode)
                 $("#subjectName").val(data.subjectName)
                   $("#class1").val(data.class1)
                 
                 
                 
          
                }
               
            });
 



  
    }



    });

      });
      </script> 



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 








</body>

</html>