<!doctype html>
<html class="no-js" lang="">

<head>
    

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>





    <!-- Modernize js -->

</head>

<body>


<table id="example" class="display" style="width:100%">
  
                  <a href="/teacher/passRate" class="btn btn-warning">Home</a>
    <thead>
        <tr>
   
            <th>Subect Code</th>
            <th>Subject</th>
            <th>1st Term Pass Rate</th>
            <th>Avg Mark</th>
             <th>2nd Term Pass Rate</th>
            <th>Avg Mark</th>
             <th>3rd Term Pass Rate</th>
            <th>Avg Mark</th>
            <th>Type</th>
            <th>Year</th>
    
            
                
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>

  
        <td>{{this.subjectCode}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.firstTerm}}</td>
        <td>{{this.firstAvgMark}}</td>
         <td>{{this.secondTerm}}</td>
        <td>{{this.secondAvgMark}}</td>
         <td>{{this.thirdTerm}}</td>
        <td>{{this.thirdAvgMark}}</td>
        <td>{{this.type}}</td>
        <td>{{this.year}}</td>
        
     

  

 
          
          
        </tr>
        {{/each}}
    </tbody>
     <tfoot>
            <tr> 
                 
            <th>Code</th>
            <th>Subject</th>
            <th>1st Term Pass Rate</th>
            <th>Avg Mark</th>
             <th>2nd Term Pass Rate</th>
            <th>Avg Mark</th>
             <th>3rd Term Pass Rate</th>
            <th>Avg Mark</th>
            <td>Type</td>
            <th>Year</th>
            
         
             

            


            </tr>
        </tfoot>
</table>
<script>
$(document).ready( function () {
    $('table#example').DataTable({
		dom: 'Bfrtip',
		"searching": true,
		"paging": true,
		"order": [[ 0, "asc" ]],
		"ordering": true,
		"columnDefs": [{
			"targets": [1], /* column index */
			"orderable": true
		},
		{
			"targets": [1],
			"visible": true,
			"searchable": true
		}],
		buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
	});
});
</script>
                    




</body>

</html>